.Login-Sec {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.video-background {
    position: absolute;
    top: 50%; 
    left: 50%;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto; 
    z-index: -1; 
    transform: translate(-50%, -50%);
}

#form2Example1 {
    background-color: transparent !important;
    box-shadow: none;
    border: 1.5px solid #000;
    border-radius: 25px;
    color: #000; 
} 
.Inner-div{
    border: 1px solid #ebe8e8;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 3500px;
    height: 650px;
    backdrop-filter: blur(20px);
    background: transparent;
    margin: auto;
    margin-top: 40px;
    border-radius: 100px;
}

.Inner-div #second{
    display: flex;
    border: 1px solid #fff;
     background: transparent ;
    margin-top: 25px;
    margin-left: 20px;
    width: 100%;
    max-width: 490px;
    height: 600px;
    overflow: hidden;
}

.Inner-div #second video{
    width: 100%;
    object-fit: cover;
 }

.Inner-div #right-content{
    width: 50%;
    max-width: 800px;
    
}

@keyframes slideIn {
    from {
        transform: translateY(100%); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.slide-in {
    animation: slideIn 2s ease forwards; 
}


#btm-xwhy {
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 90px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    z-index: 1; 
    background: transparent;
    border: 1.5px solid #000; 
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px; 
    outline: none;
    overflow: hidden;
    transition: all ease 0.4s; 
}

#btm-xwhy::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%; 
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: all ease 0.4s; 
    z-index: -1; 
}

#btm-xwhy:hover::after {
    bottom: 0; 
    border-radius: 16%; 
}

#btm-xwhy:hover span {
    color: #fff; 
}


